.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  label {
    font: var(--text-body-sm);
    color: var(--text-body);
    font-weight: 400;
    margin-top: 1rem;
  }
  input,
  textarea {
    border: 1px solid var(--input-stroke);
    border-radius: 0.5rem;
    background: var(--input-base);
    padding: 1rem;
  }
  .radio-wrapper {
    padding: 0.25rem;
    border: 1px solid var(--input-stroke);
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .radio-inner {
    padding: 0.6rem;
    cursor: pointer;
    img {
      width: 1rem;
      height: 1rem;
    }
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 0.25rem;
    position: relative;

    & input,
    & input:focus,
    & input:hover {
      all: unset;
      position: absolute;
      inset: 0;
    }
    &:has(:checked) {
      background: var(--shape-button);
    }
  }
  input:focus-within,
  textarea:focus-within {
    outline: 1px solid var(--brand-light);
    border: 1px solid var(--brand-light);
  }
}
.color-wrapper {
  label {
    display: block;
    font: var(--text-body-sm);
    color: var(--text-body);
    font-weight: 400;
    margin-block: 1.5rem 1rem;
  }
  .radio-wrapper {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

    .radio-color {
      cursor: pointer;
      border: 1.5rem solid var(--input-stroke);
      border-radius: 50%;
      width: 3.5rem;
      height: 3.5rem;
      position: relative;
    }
    & input,
    & input:focus,
    & input:hover {
      position: absolute;
      all: unset;
      inset: 0;
      width: 2.5rem;
      height: 2.5rem;
      top: -1rem;
      left: -1rem;
      border-radius: 50%;
      &#colorBlue {
        position: absolute;
        background: var(--brand-light);
      }
      &#colorNavy {
        position: absolute;
        background: var(--navy);
      }
      &#colorPurple {
        position: absolute;
        background: var(--purple);
      }
      &#colorFuschia {
        position: absolute;
        background: var(--fuschia);
      }
      &#colorPink {
        position: absolute;
        background: var(--pink);
      }
      &#colorDanger {
        position: absolute;
        background: var(--danger);
      }
      &#colorOrange {
        position: absolute;
        background: var(--orange);
      }
      &#colorYellow {
        position: absolute;
        background: var(--yellow);
      }
      &#colorLime {
        position: absolute;
        background: var(--lime);
      }
      &#colorGreen {
        position: absolute;
        background: var(--green);
      }
      &#colorCyan {
        position: absolute;
        background: var(--cyan);
      }
    }
    .radio-color:hover {
    }
    .radio-color:focus-within {
      outline: 2px solid var(--brand-light);
    }
  }
}

.toggle-inner {
  display: flex;
  gap: 0.75rem;
  position: relative;
  top: 0.5rem;
  & input[type='checkbox'] {
    all: unset;
    position: absolute;
    inset: 0;
  }
  .image-toggle {
    background-image: url(../assets/icons/toggleLightModeFalse.svg);
    background-repeat: no-repeat;
    width: 4rem;
    height: 2rem;
    position: absolute;
    cursor: pointer;
  }
  &:has(:checked) {
    .image-toggle {
      background-image: url(../assets/icons/toggleLightModeTrue.svg);
    }
  }

  span {
    position: absolute;
    color: var(--text-heading);
    font: var(--text-body-sm);
    top: 0.25rem;
    left: 5rem;
  }
}
.input-file-wrapper {
  margin-top: -3rem;
  margin-left: 18rem;
  position: relative;
  label {
    display: block;
    margin-block: 1rem;
    color: var(--text-heading);
    font: var(--text-body-sm);
  }
  .file-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--input-stroke);
    background: var(--input-stroke);
    border-radius: 0.5rem;
    cursor: pointer;
    height: 2.5rem;
    padding: 0.25rem 0.75rem;

    img {
      width: 1rem;
      height: 1rem;
      margin-right: 0.75rem;
    }
    & span {
      color: var(--text-heading);
      font: var(--text-body-sm);
    }
  }
  & input[type='file'] {
    all: unset;
    position: absolute;
    inset: 0;
    top: 3rem;
    opacity: 0;
    width: 6rem;
    height: 3rem;
  }
  .wrapper-input {
    align-items: center;
    gap: 0.75rem;
    p {
      color: var(--text-body);
      font: var(--text-body-md);
    }
  }
}
.alertError {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: -0.5rem;
  span {
    color: var(--danger);
    font: var(--text-body-sm);
  }
}
.separator {
  border-top: 1px solid var(--input-stroke);
  margin-bottom: 2.5rem;
}
.inner-terms {
  cursor: pointer;
  padding: 0.25rem 0;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  position: relative;
  & p {
    color: var(--text-body);
    font: var(--text-body-sm);
    font-weight: 400;
  }
  & input[type='checkbox'] {
    all: unset;
    position: absolute;
    inset: 0;
  }
  &:has(:checked) {
    .image-terms {
      background-image: url('../assets/icons/checkbox-true.svg');
    }
  }
}
.image-terms {
  background-image: url('../assets/icons/checkbox-false.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 1rem;
  height: 1rem;
}

button {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  cursor: pointer;
  border: 1px solid var(--brand-dark);
  border-radius: 0.5rem;
  background: var(--brand-dark);
  padding: 0.75rem 1.25rem;

  font: var(--text-body-md);
  font-weight: 500;
  color: var(--text-heading);
  margin-block: 3rem 5rem;
}
button:hover {
  background: var(--brand-mid);
}
