.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  label {
    font: var(--text-body-sm);
    color: var(--text-body);
    font-weight: 400;
    margin-top: 1rem;
  }
  input,
  textarea {
    border: 1px solid var(--input-stroke);
    border-radius: 0.5rem;
    background: var(--input-base);
    padding: 1rem;
  }
  .radio-wrapper {
    padding: 0.25rem;
    border: 1px solid var(--input-stroke);
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .radio-inner {
    padding: 0.6rem;
    cursor: pointer;
    img {
      width: 1rem;
      height: 1rem;
    }
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 0.25rem;
    position: relative;

    & input,
    & input:focus,
    & input:hover {
      all: unset;
      position: absolute;
      inset: 0;
    }
    &:has(:checked) {
      background: var(--shape-button);
    }
  }
}
.color-wrapper {
  label {
    display: block;
    font: var(--text-body-sm);
    color: var(--text-body);
    font-weight: 400;
    margin-block: 1.5rem 1rem;
  }
  .radio-wrapper {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

    .radio-color {
      cursor: pointer;
      border: 1.5rem solid var(--input-stroke);
      border-radius: 50%;
      width: 3.5rem;
      height: 3.5rem;
      position: relative;
    }
    & input,
    & input:focus,
    & input:hover {
      position: absolute;
      all: unset;
      inset: 0;
      width: 2.5rem;
      height: 2.5rem;
      top: -1rem;
      left: -1rem;
      border-radius: 50%;
      &#colorBlue {
        position: absolute;
        background: var(--brand-light);
      }
      &#colorNavy {
        position: absolute;
        background: var(--navy);
      }
      &#colorPurple {
        position: absolute;
        background: var(--purple);
      }
      &#colorFuschia {
        position: absolute;
        background: var(--fuschia);
      }
      &#colorPink {
        position: absolute;
        background: var(--pink);
      }
      &#colorDanger {
        position: absolute;
        background: var(--danger);
      }
      &#colorOrange {
        position: absolute;
        background: var(--orange);
      }
      &#colorYellow {
        position: absolute;
        background: var(--yellow);
      }
      &#colorLime {
        position: absolute;
        background: var(--lime);
      }
      &#colorGreen {
        position: absolute;
        background: var(--green);
      }
      &#colorCyan {
        position: absolute;
        background: var(--cyan);
      }
    }
    .radio-color:hover {
    }
    .radio-color:focus-within {
      outline: 2px solid var(--brand-light);
    }
  }
}
