main {
  form {
    padding: 5rem;
  }
  background-color: var(--shape-body);
  h2 {
    font: var(--text-heading-md);
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--text-heading);
    margin-bottom: 2.5rem;
  }
  .header-main {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 0.5rem;
    span {
      font: var(--text-heading-sm);
      font-weight: 700;
      color: var(--text-heading);
    }
  }
}
